---
CompileFlags:
  CompilationDatabase: build/linux-clang-debug
  Remove:
    - -fmodules-ts
    - -fmodule-mapper=*
    - -fdeps-format=*
    - -fmodule-file=*
    - --precompile
    - -march=native
    - -mtune=native

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None