/.idea
/cmake-build-debug
/cmake-build-release/.cmake
/cmake-build-release
/build
/compile_commands.json
/CMakeUserPresets.json
/ThirdParty/Slang-linux/
/out/build
/oldidea
/ThirdParty/Slang-win
/build_vscode
/.cache
